<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
											http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>CGA103G2</display-name>
    <welcome-file-list>
		<welcome-file>FrontIndex.jsp</welcome-file>
		<welcome-file>BackLogin.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/cga103g2</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<!-- 會員 start -->
	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.mem.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/back-end/member/mem.do</url-pattern>
		<url-pattern>/front-end/member/mem.do</url-pattern>
		<url-pattern>/member/mem.do</url-pattern>
	</servlet-mapping>
	<!-- 會員 stop -->
	<!-- 會員登入 start -->
		<servlet>
		<servlet-name>MemLoginServlet</servlet-name>
		<servlet-class>com.mem.controller.MemLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemLoginServlet</servlet-name>
		<url-pattern>/MemLoginServlet</url-pattern>
		<url-pattern>/front-end/member/MemLoginServlet.do</url-pattern>
	</servlet-mapping>
	<!-- 會員登入 stop -->
	<servlet>
		<servlet-name>MealsCategoryServlet</servlet-name>
		<servlet-class>com.mealscategory.controller.MealsCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MealsCategoryServlet</servlet-name>
		<url-pattern>/back-end/mealscategory/MealsCategory.do</url-pattern>
<!-- 		<url-pattern>/mealscategory/MealsCategory.do</url-pattern> -->
	</servlet-mapping>

	<servlet>
		<servlet-name>MealsServlet</servlet-name>
		<servlet-class>com.meals.controller.MealsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MealsServlet</servlet-name>
		<url-pattern>/back-end/meals/Meals.do</url-pattern>
		<url-pattern>/meals/Meals.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BotqaServlet</servlet-name>
		<servlet-class>com.botqa.controller.BotqaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BotqaServlet</servlet-name>
		<url-pattern>/back-end/botqa/Botqa.do</url-pattern>
		<url-pattern>/botqa/Botqa.do</url-pattern>
	</servlet-mapping>
	
	<!-- OrdersServlet 開始-->
	<servlet>
		<servlet-name>OrdersServlet</servlet-name>
		<servlet-class>com.orders.controller.OrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrdersServlet</servlet-name>
		<url-pattern>/back-end/order/orders.do</url-pattern>
	</servlet-mapping>
	<!-- OrdersServlet 結束-->

<!-- OrddetailsServlet 開始-->
	<servlet>
		<servlet-name>OrddetailsServlet</servlet-name>
		<servlet-class>com.orddetails.controller.OrddetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrddetailsServlet</servlet-name>
		<url-pattern>/back-end/orddetails/orddetails.do</url-pattern>
	</servlet-mapping>

	<!-- OrddetailsServlet 結束-->

	<!-- NewsServlet 開始-->
	<servlet>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>com.news.controller.NewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/back-end/news/news.do</url-pattern>
<!-- 		<url-pattern>/news/news.do</url-pattern> -->
	</servlet-mapping>
	
<!-- 	<filter> -->
<!-- 	    <filter-name>setCharacterEncoding</filter-name> -->
<!-- 	    <filter-class>filters.SetCharacterEncodingFilter</filter-class> -->
<!-- 	    <init-param> -->
<!-- 	      <param-name>encoding</param-name> -->
<!-- 	      <param-value>UTF-8</param-value> -->
<!-- 	    </init-param> -->
<!-- 	  </filter> -->
<!-- 	  <filter-mapping> -->
<!-- 	    <filter-name>setCharacterEncoding</filter-name> -->
<!-- 	    <url-pattern>/*</url-pattern> -->
<!-- 	  </filter-mapping> -->
</web-app>